#options{
    color: #ffffff;
}
#contact-dietetic{
    float:left;
}

#diet-info {
    display:inline-block;
    color:red;
}
#change-diet{
    /*float:right;*/
}

h2{
    font-size:15px;
    text-align:center;
    float:left;
}
#bmi {
    font-size: 40px;
    text-align: right;
}
#create-diet {
    float:right;
}

#long-tile {

}

main {
    color: #ffffff;
}

body
{
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
    font-size: 36px;
    font-weight: 400;
    color: #C0D06F;
    margin: 20px;
}


.navbar
{
    min-height: 57px;
    background-color: #19b839;
}

table, th, td {
    border: 1px solid #00606a;
    text-align: center;
    background-color: #e7e7e7;
    color: #773b25;
}





