<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title th:text="#{my-kitchen}">My kitchen</title>
</head>
<body>


<!--<div class="container" th:fragment="container (kitchen)">-->
<div class="container" th:fragment="container (kitchen)">
This is div from kichen template.
<p class="bg-warning" th:text="${kitchen.name}"> Example kitchen name</p>

</div>
niezalogowany bedzie mial odnosniki do stron prezentacji opcji (parametr dummyKitchen do widoku)
zalogowany odnosniki do podstron z funkcjami ( parametr @user.kitchen || kreator kuchni)
</body>
</html>