.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:22px}
.autocomplete-selected { background: #ede3c0; }
.autocomplete-suggestions strong { font-weight: bold; color: #046e16; }

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    z-index: 1001; !important
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}

 .imageClass {
  width: 16px; height: 16px; padding-right: 3px;
  }



 body {
     background-image: url(../img/background.jpg);
     min-height: 100%;
     background-size:cover;

 }

body>header {
    background: #eee;
    padding: 5px;
    height:110px;
}

body>header>a>img, body>header a {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>footer {
    background: #eee;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}