.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:22px}
.autocomplete-selected { background: #ede3c0; }
.autocomplete-suggestions strong { font-weight: bold; color: #046e16; }

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    z-index: 1001; !important
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}

.imageClass {
    width: 35px;
    height: 35px;
    padding-right: 3px;
    float: right;
    margin-left:auto; margin-right:0;
}

 body {
     background-image: url(../img/layout/background.jpg);
     min-height: 100%;
     background-size:cover;
     position:absolute;
     width: 100%;
 }

footer {
    color: white;
    width:100%;
    bottom:0;
    text-align: center;
    position:absolute;
}


.menu-icon:hover {
    background-color: #6e916e;
}

.menu-icon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content:center;
}

.menu-icon>img{
    width:40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content:center;
}
.navbar-brand:hover {
    background-color: #6e916e;
}



#profile-picture {
    border:1px solid #000000;
    padding:1px;
}

#logged-in-info {
    float: right;
    margin-top:  18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}
.locales {
    display: inline-block;
    float:right;
    margin-top:  18px;
}

 .menu-icon:hover {
     background-color: #6e916e;
 }

.menu-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content:center;

}
.menu-icon>img{
    width:30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content:center;
}
.navbar-brand:hover {
    background-color: #6e916e;
}

#profile-picture {
    border:1px solid #000000;
    padding:1px;
}




/* LANGUAGE PICKER*/
.languagepicker {
    background-color: #FFF;
    display: inline-block;
    padding: 0;
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 0 50px 10px 0;
    vertical-align: top;
    float: left;
}

.languagepicker:hover {
    /* don't forget the 1px border */
    /*height: 81px;*/
}

.languagepicker a{
    color: #000;
    text-decoration: none;
}

.languagepicker li {
    display: block;
    padding: 0px 20px;
    line-height: 40px;
    border-top: 1px solid #EEE;
}

.languagepicker li:hover{
    background-color: #EEE;
}

.languagepicker a:first-child li {
    border: none;
    background: #FFF !important;
}

.languagepicker li img {
    margin-right: 5px;
}


/* Global classes for sub pages*/

.pad {
    background-color: whitesmoke;
    opacity: 0.9;
}