<html xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <title>Welcome to Digital Kitchen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body style="background-image: url(/img/background.jpg); min-height:100%;">

<header th:replace="layout :: site-header" ></header>

<div>

</div>

<script>
    $(document).ready(function() {
        $('#searchInput').autocomplete({
            minLength: 2,
            delay:400,
            source: function(request, response) {
                $.ajax({
                    type: "GET",
                    url: '/api/food/autocomplete',
                    dataType:'json',
                    data: { keyword:  $('#searchInput').val()},
                    cache: true,
                    success: function( data ) {
                        console.log('Response from server:' +  JSON.stringify(data));
                        // response(
                        //     $.map( data, function( item ) {
                        //     return {
                        //         data: item.foodID,
                        //         value: item.name
                        //     }
                        // }));
                        response(data)
                    },
                    error: function (error) {
                        alert('error in autocomplete: ' + error.text);
                    }

                });
            },
            focus: updateTextBox,
            select: updateTextBox

        }).autocomplete('instance')._renderItem = function (ul, item) {
            return $('<li>')
                .append("<img class='imageClass' src=" + item.photo + " alt=" + item.name + "/>")
                .append('<a th:href="@{/food/detailed/  " href="">' + item.name + '</a>')
                .appendTo(ul); };

        function updateTextBox(event, ui) {
            $(this).val(ui.item.Name);
            return false;
        }

    });
</script>
<footer th:replace="layout :: site-footer" ></footer>
</body>
</html>