<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">

    <script src="../static/js/jquery-3.3.1.min.js" th:href="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../static/js/jquery-ui.min.js" th:href="@{/js/jquery-ui.min.js}"></script>
    <link rel="icon" href="../static/img/egg.jpg" th:href="@{/img/egg.jpg}"/>

    <meta th:include="this :: head" th:remove="tag"/>
</head>

<body>

<header th:fragment="site-header">

    <a href="homepage.html" th:href="@{/}"><img style="width:140px;height:80px;" src="../static/img/fruits.png"
                                                th:src="@{/img/fruits.png}"/></a>
    <a href="homepage.html" th:href="@{/}" th:text="#{homepage}">Homepage</a>

    <span th:if="${@user != null }">
<span th:text="#{find-food}">Find food</span>
<input title="Enter food name" type="text" id="searchInput" value="">
</span>
    <a href="login.html" th:href="@{/login}" th:if="${@user == null || @user.getUsername() == null}" th:text="#{login}">Login</a>
    <a href="registration.html" th:href="@{/registration} " th:if="${@user == null || @user.getUsername() == null}"
       th:text="#{register}">Register</a>
    <div id="logged-in-info" th:if="${@user != null }">
        <div th:if="${@user.getUsername() != null }">
            <span th:text="#{greetings}"></span><span th:text="', ' + ${@user.getVisibleName()}">Hello, stranger!</span>
            <a href="update-profile.html" th:href="@{/personalization/update}" th:text="#{edit-profile}">Edit
                profile</a>
            <a href="diet/current.html" th:href="@{/api/diets/current}" th:text="#{my-diet}">My diet</a>
            <form method="POST" th:action="@{/logout}">
                <input type="submit" th:value="#{logout}" value="Logout"/>
            </form>
        </div>
    </div>

    <select id="locales">
        <option th:text="#{lang.change}">Change language</option>
        <option value="en" th:text="#{lang.eng}">EN</option>
        <option value="pl" th:text="#{lang.pl}">PL</option>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                const selectedOption = $('#locales').val();
                if (selectedOption !== '')
                    window.location.replace('?lang=' + selectedOption);
            });
        });
    </script>

</header>

<h1>Welcome</h1>
<p>Welcome to the Digital Kitchen system.</p>
<p> This is content of page</p>

<footer style="position:absolute; bottom:0; width:100%;" th:fragment="site-footer"
        th:text="'&copy; ' + #{footer-content}">
    &copy; Digital kitchen - universal food managing system, 2018
</footer>
</body>
</html>