<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Digital Kitchen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>


<body>
<header th:replace="fragments/layout :: site-header"></header>

<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit" th:text="#{to-registration-page}">
        Go To Registration Page
    </button>
</form>

<div class="container">
    <img src="../static/img/login.jpg" th:src="@{/img/login.jpg}" class="img-responsive center-block" alt="Logo"/>
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="#{greetings}">Welcome!</h3>
        <br/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <label for="email" th:text="#{email.placeholder}">Email address:</label>
        <input type="text" autocomplete="email" id="email" name="email" th:placeholder="#{email.placeholder}"
               class="form-control"/>
        <br/>
        <label for="password" th:text="#{password.placeholder}">Password:</label>
        <input type="password" autocomplete="current-password" th:placeholder="#{password.placeholder}" id="password"
               name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size:20px; color: #FF1C19;" th:text="#{invalid-login}">Email or Password invalid, please
                verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="#{login}"></button>
    </form>
</div>
</body>
<div th:replace="fragments/layout :: imports"></div>
</html>