<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Farewell! :)</title>
    <meta charset="utf-8"/>
</head>
<body>
<header th:replace="fragments/layout :: site-header"></header>

<div class="row col-sm-5" style="border: 3px ridge #ffd600; padding:3px; float: none; margin: 0 auto;">
    <h1 style="color: #9cfff5">Logout Successfully!</h1>
</div>

<footer th:replace="fragments/layout :: site-footer"></footer>
</body>
<div th:replace="fragments/layout :: imports"></div>
</html>